<header class="header">
    <a href="/" class="header-logo">Turbets</a>
    <nav class="nav-left">
      <a href="/juegos" class="header-left-button">Juegos</a>
      <a href="/info-app" class="header-left-button"
        >¿Quiénes somos?</a
      >
    </nav>

    <nav class="nav">
        {{#if showRegisterButton}}
      <a href="/registro" class="button header-button"
        >Registrarse</a>
        {{/if}}

        {{#if showLoginButton}}
      <a href="/acceso" class="button header-button"
        >Iniciar Sesión</a>
        {{/if}}

        {{#if showProfileButton}}
      <a href="/perfil" class="button header-button"
      >Perfil </a>
      {{/if}}

    </nav>
  </header>