{{> header}}

<h1 class="titulo_quienes_somos">BIENVENIDO A TURBETS</h1>

    <div class="presentacion">
      <div>
        <h3 class="presentacion_turbets">
          Somos parte de Turbets Entertainment, empresa matriz a cargo del
          casino online más exitoso del mundo. Nuestra empresa cuenta con
          licencia en el país República Jonathánica del Frezquito, donde nos
          esforzamos en ofrecer el mejor servicio de apoyo a nuestros clientes.
        </h3>

        <h3>
          Nuestro objetivo es que tengas un espacio libre para divertirte con
          una gran variedad de juegos a tu disposición ¿Y qué mejor si puedes
          ganar dinero con ello? Así es, con nosotros puedes tener horas de
          entretenimiento, mientras tu dinero crece sin parar.
        </h3>
      </div>

      <div>
        <h2 class="titulo_equipo">
          EQUIPO DE DESARROLLO Y TECNOLOGÍAS UTILIZADAS
        </h2>

        <h3 class="desarrollador">
          El proyecto fue desarrollado por un equipo multidisciplinario de
          estudiantes de la Universidad Diego Portales, comprometidos con la
          innovación tecnológica y el diseño de experiencias digitales de
          calidad. Dicho trabajo fue realizado con HTML/CSS, además de GitHub y
          la plataforma de hosting AWS Academy Learner.
        </h3>

        <ul>
          <li>
            <span class="developer_name"> Martin Correa: </span>Desarrollador
            Front-End y Base de datos
          </li>
          <li>
            <span class="developer_name"> Joakin Mac-Auliffe: </span
            >Desarrollador Front-End y Diseño
          </li>
          <li>
            <span class="developer_name"> Sergio Pinto: </span>Desarrollador
            Front-End y Back-End
          </li>
        </ul>

        <p class="disclaimer">
          Este producto es meramente especulativo. Turbets es un proyecto
          académico que no pertenerce a ninguna asociación.
        </p>
      </div>
    </div>