{{> header}}

<div class="sidebar-transacciones">
      <p class="side-list-title">MI PERFIL</p>
      <a href="/historial">
        <button class="side-list">HISTORIAL DE TRANSFERENCIAS</button>
      </a>
      <a href="/transacciones">
        <button class="side-list">TRANSACCIONES</button>
      </a>
    </div>

    <div class="info-perfil">
      <div class="imagen-perfil"></div>

      <div class="datos-perfil">
        <h3>Nombre:</h3>
        <p>Jonathan Frez</p>
        <h3>Nombre de Usuario:</h3>
        <p>xXBy_frezkitoproXx</p>
        <h3>Email:</h3>
        <p>cuentadegmaildefrez@gmail.com</p>
        <h3>Fecha de Nacimiento:</h3>
        <p>--/--/--</p>
        <h3>Numero de Tarjeta:</h3>
        <p>**** **** **** **56</p>
        <h3>Saldo Actual:</h3>
        <p>$10.000</p>
      </div>

      <div class="pos-edit-button">
        <button class="button header-button">Editar</button>
      </div>
    </div>