{{> header}}

<div class = "sidebar-transacciones">
        <P class = "side-list-title">MI PERFIL</P>
        <a href ="/historial"> <button class = "side-list"> HISTORIAL DE TRANSFERENCIAS </button> </a>
    </div>

    <div class = "container-deposito">
        <div class = "trans-ret">
        <h1>Deposita Dinero</h1>
        <h3>Saldo: $10.000</h3>
            <form class ="form-trans">
                <label>Deposito</label>
                <input type = "number" required>
                <input type = "submit" value="Depositar">
            </form>
        </div>
    </div>

    <div class = "container-deposito">
        <div class = "trans-ret">
        <h1>Retira Dinero</h1>
        <h3>Saldo: $10.000</h3>
            <form class ="form-trans">
                <label>Retiro</label>
                <input type = "number" required>
                <input type = "submit" value="Retirar">
            </form>
        </div>
    </div>